@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Raleway:ital,wght@0,300;0,500;1,200&display=swap");

/* font-family: 'Lato', sans-serif;
font-family: 'Raleway', sans-serif; */
* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
}
body {
  height: auto;
  width: 1160px;
  background-image: radial-gradient(#c7c7c7 25%, #c7c7c7 75%);
  box-shadow: 5px 7px 5px #000;
  margin: auto;
}

header {
  background-color: #782221;
  text-align: center;
  padding-top: 20px;
}

.pointeur {
  cursor: zoom-in;
}
address {
  padding: 20px;
  background-color: #2c1d27;
  display: flex;
  justify-content: space-between;
  text-align: start;
}
address a {
  text-decoration: none;
  color: white;
}
address a:hover {
  text-decoration: underline;
}
.profil {
  height: 150;
  width: 150;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 1);
}
h1 {
  color: white;
  font-size: 30px;
  font-family: "Lato", sans-serif;
}
.objectif {
  color: white;
  font-weight: bold;
}

main {
  display: flex;
}
.section2 {
  background-color: white;
  padding: 0 0 0 20px;
  flex-basis: 70%;
}

.section {
  flex-basis: 30%;
  background-color: #782221;
}

.section {
  flex-basis: 30%;
  background-color: #782221;
  padding: 0;
}

article {
  padding: 20px 20px 0 0;
  color: white;
}
.head {
  height: 20px;
  padding: 5px;
  color: #2c1d27;
  background-color: #dbc2a4;

  font-family: "Lato", sans-serif;
}
h5 {
  font-family: "Lato", sans-serif;
}

.heads {
  padding: 0;
  display: flex;
  background-color: #dbc2a4;
}
hr {
  width: 7px;
  border: 0;
  background-color: #782221;
}
article ul {
  padding: 30px;
}

div {
  padding: 20px;
}

.about {
  padding: 20px 20px 0 12px;
  text-indent: 3em;
}
.poste {
  color: #2c1d27;
  padding: 0;
  padding-top: 20px;
}
.poste p {
  line-height: 30px;
}
.poste ul {
  padding: 0;
  padding-left: 20px;
}
.formation {
  color: #2c1d27;
  padding: 0;
  padding-top: 20px;
}
.formation ul {
  padding: 0;
  padding-left: 20px;
}
.skills {
  color: #2c1d27;
  padding: 0;
  padding-top: 20px;
}
.skills ul {
  padding: 0;
  padding-left: 20px;
}
footer {
  color: white;
  background-color: #782221;
  text-align: center;
  padding: 20px;
}
.footer img:hover {
  opacity: 0.5;
}
